.app {
  position: relative;
  width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-left: #ddd 1px solid;
  border-right: #ddd 1px solid;
  overflow: hidden;
}

.app .firebase {
  position: absolute;
  right: -150px;
  bottom: 0;
  height: 500px;
  opacity: 0.5;
}

@media (max-width: 500px) {
  .app {
    width: 100%;
  }

  .chat-room .fixed {
    width: 100%;
  }
}