::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

.chat-room {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.chat-room .fixed {
  position: fixed;
  width: 500px;
  padding: 10px;
  background-color: #fff;
}

.chat-room .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ddd 1px solid;
}

.chat-room .header .label {
  display: flex;
  align-items: center;
}

.chat-room .btn-sign-out {
  border-radius: 3px;
  padding: 10px 15px;
  background-color: #03AC13;
  color: #fff;
  font-size: 20px;
}

.chat-room .list-messages {
  margin: 70px 0 60px;
  padding: 0 1rem;
}

.chat-room .list-messages .message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat-room .list-messages .sent {
  flex-direction: row-reverse;
}

.chat-room .list-messages .sent .text {
  margin-right: 5px;
  background-color: #03AC13;
  color: #fff;
}

.chat-room .list-messages .received .text {
  margin-left: 5px;
  background-color: #e4e6eb;
}

.chat-room .list-messages .message .avatar {
  width: 40px;
  border-radius: 50%;
}

.chat-room .list-messages .message .text {
  border-radius: 20px;
  padding: 10px 15px;
}

.chat-room .form-sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.chat-room .form-sender .type {
  width: 100%;
  margin-right: 10px;
  border-style: none;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: #c7c7c7;
  outline: none;
}

.chat-room .form-sender .btn-send {
  color: #03AC13;
  font-size: 25px;
}